$fontFamily: "SF-Pro-Display";

$maxWidth: 1920;
$maxWidthContainer: 1200; //+30px safepadding
$safePadding: 15px;
$color: #2F3035;

$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;


$accent: #1C62CD;
$basic: #F0F0F4;